body {
    height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: #2B2A3A;
}

input {
    font-family: 'Roboto';
    padding-left: 20px;
    font-size: 25px;
    width: 407px;
    height: 62px;
    left: calc(50% - 407px/2 + 444.5px);
    top: 469px;
    border: none;
    background: #FCE3C5;
    border-radius: 10px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}